body {
  background: #EAE8D7;
  color: #403826;
  font: 18pt/1.6em "garamond-premier-pro-caption", serif;
  margin: 2em auto;
  width: 30em;
}

h1, h2 {
  font-weight: normal;
}

.progress {
  $height: 0.3em;
  background: rgba(214, 192, 114, 0.4);
  border-radius: $height;
  height: $height;

  .fill {
    background: rgb(208, 131, 0);
    border-radius: $height;
    height: $height;
  }
}
