<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title || "Brewing" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.typekit.net/zao4kcj.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= stylesheet_link_tag "master" %>
  </head>
  <body>

    <main>
      PETE’S BREWING DIARY 🍻

      <%= yield %>

      <%= javascript_include_tag "master" %>
    </main>
    
  </body>
</html>
